<% content_for :title, "New payment account" %>

<h1>New payment account</h1>

<%= render "form", usps_payment_account: @usps_payment_account %>

<br>

<div>
  <%= link_to "Back to payment accounts", usps_payment_accounts_path %>
</div>
