@use 'colors' as *;
// @use "components/base";
@use 'components/banners';


html {
  color-scheme: light dark;
}

#treasure {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  width: 100%
}

@media (prefers-color-scheme: dark) {
  #treasure {
    filter: invert(1);
  }
}

body {
  max-width: 35em;
  width: 90%;
  margin: 2em auto;
}

