<div class="banner banner-<%= color %> p-3 flex items-baseline space-x-2">
  <div class="u-self-start u-sq-22 u-m-n0_5"></div>
  <div class="u-flex-1"><div class="u-flex u-flex-wrap u-items-center u-space-wrap-2">
  <%= yield %>
  </div>
</div>
</div>