<h1>Revoking key <%= @api_key.pretty_name %></h1>
<p>are you sure? <br/>everything that depends on the key <code><%= @api_key.abbreviated %></code> will stop working and can't be reactivated.</p>
<%= button_to("do it. pull the trigger.", revoke_api_key_path(@api_key), class: 'btn danger') %>