<div id="<%= dom_id mailer_id %>">

  <p>
    <strong>Name:</strong>
    <%= mailer_id.name %>
  </p>

  <p>
    <strong>Crid:</strong>
    <%= mailer_id.crid %>
  </p>

  <p>
    <strong>Mid:</strong>
    <%= mailer_id.mid %>
  </p>

</div>
