  <div class="form-group">
    <%= form.label :letter_mailing_date, "Mailing Date", class: "form-label" %>
    <%= form.date_field :letter_mailing_date, 
      value: @batch.letter_mailing_date || @batch.default_mailing_date,
      min: Date.current,
      class: "form-control",
      required: true %>
  </div>

  <div class="form-group">
    <%= form.label :usps_payment_account_id, "Payment Account", class: "form-label" %>
    <%= form.collection_select :usps_payment_account_id,
      USPS::PaymentAccount.all,
      :id,
      :name,
      { prompt: "Select a payment account" },
      { class: "form-control", required: true } %>
  </div> 