<div id="<%= dom_id source_tag %>">
  <p>
    <strong>Slug:</strong>
    <%= source_tag.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= source_tag.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= source_tag.owner %>
  </p>

</div>
